/* První web */
.dashboard {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--primary);
}

.dashboard__header {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.6em
}

.link {
  color: inherit;
  display: block;
  text-decoration: none;
  padding: 0.25em;
}

.link--active {
  color: var(--blue);
}

.hover_effect {
  position: relative;
}

.hover_effect::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 100%;
  background-color: var(--background);
  transform: translateX(-50%) scale(0);
  transition: transform 0.75s ease-in-out;
}

.hover_effect:hover::before {
  transform: translateX(-50%) scale(1);
}


.button:hover {
  box-shadow: 0 1px 3px var(--blue);
}

.info {
  position: relative;
  margin: 0;
}

.info a::before {
  content: "i";
  position: absolute;
  bottom: 0;
  right: 0;
  color: black;
  background-color: #e0e0e0;
  height: 16px;
  width: calc(16px + 3px);
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: .5em;
  padding-bottom: 3px;
  border-radius: 50%;
  border: 3px solid #be8024;
}

.info a:hover .info__text {
  visibility: visible;
}

.info a:hover::before {
  color: white;
  background-color: gray;
}

.info__text {
  position: absolute;
  top: 0;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  padding: .25em;
  left: 0;
  right: 0;
  visibility: hidden;
}

.menu_content {
  position: absolute;
  top: -10000px;
  left: -10000px;
}

.batoh__uvod {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1em;
  padding-top: 10em;
  padding-bottom: 10em;
  background-image: url('/public/images/batoh.jpg');
  background-size: cover;
  background-position: center;
}

.button {
  background-color: var(--red);
  color: var(--background);
  border-radius: 0.25em;
  padding: 1rem;
  justify-self: center;
}

.img-responsive {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img_omezeni_velikosti {
    max-height: 300px;
}

.produkty {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5em;
  flex-wrap: wrap;
}

.produkty__uvod {
  max-height: 500px;
  max-width: 500px;
  position: relative;
}

.produkty__zaobleni {
  border-radius: 1em;
}

.produkty__uvod__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.produkty__uvod__text h1 {
  margin-bottom: .5em;
}

.produkty__zauvodem {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1em;
    padding-top: 11em;
    padding-bottom: 11em;
    background-image: url(/public/images/batoh1.jpg);
    background-size: cover;
    background-position: center;
}

.produkty__text {
  max-width: 35em;
}

.vyhody {
  color: var(--secondary);
}

.vyhody__text {
  padding: 0;
  margin: 0;
}

.vyhody__text p {
  margin: .5em 0 1.2em 0;
  padding-right: 2em;
  padding-left: 2em;
}

.vyhody__text h2 {
  padding-right: 2em;
  padding-left: 2em;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  font-size: 18px;
}

.swiper-button-prev, .swiper-button-next {
  color: var(--secondary, var(--secondary)) !important;
}

.swiper-wrapper {
  align-items: flex-start;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
  margin-top: 1em;
  background-color: var(--primary);
}

.footer__1 {
  display: flex;
  order: 0;
}

.footer__2 {
  display: flex;
  order: 1;
}

.footer__3 {
  display: flex;
  order: 2;
}

.footer::after {
  content: "";
  display: block;
  order: 1;
  width: 2px;
  height: 50%;
  background-color: var(--background);
  flex-shrink: 0;
  align-self: center;
}

.footer::before {
  content: "";
  display: block;
  order: 1;
  width: 2px;
  height: 50%;
  background-color: var(--background);
  flex-shrink: 0;
  align-self: center;
}

hr {
  border: none;
  border-top: 2px var(--background) solid;
  width: 100%;
  margin: .5em auto;
}

.card {
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  max-width: 400px;
  background: var(--secondary);
  border-radius: 10px;
  position: relative;
}

.card p {
  text-align: left;
  margin: .5em 0 .5em 0;
}

@property --animace {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after, .card::before {
  --animace: 0deg;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--animace),
    transparent 70%,
    var(--blue)
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}

.card::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --animace: 0deg;
  }
  to {
    --animace: 360deg;
  }
}

@media screen and (min-width: 670px) {
  .menu_content {
    position: static;
    padding-left: .25em;
  }
  .dashboard__header {
    font-size: 1.1em;
  }
  .grid__container {
    display: grid;
    grid-template-columns: 1fr .5fr;
    gap: 3em !important;
    max-width: 1200px;
  } 
  .flex_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
    text-align: start;
  }
}
/* Druhý web */
.omezeni_velikosti {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; 
}

.about__uvod {
  padding-top: 11em;
  padding-bottom: 11em;
  background-image: url('/public/images/batoh_about.webp');
  background-size: cover;
  background-position: center;
}

.uvod__text {
  color: var(--secondary);
  text-align: start;
  padding-right: 1em;
  padding-left: 1em;
}
/* Třetí web */
.flex_container {
  align-items: center;
  color: var(--secondary);
  text-align: start;
}

.grid__container {
  display: grid;
  gap: 1em;
  padding-left: 1em;
  padding-right: 1em;
} 

.zarovani_textu {
  align-self: center;
}

span[data-tooltip] {
  position: relative;
  cursor: help;
}

span[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 0; top: 1.5em;
  border: 1px var(--secondary) solid;
  border-radius: .5em;
  background-color: var(--primary);
  padding: 1em;
  font-size: .8em;
  z-index: 1;
  color: var(--background);
}