:root {
    color-scheme: light;
    --background: #ffffff;
    --primary: #003580;
    --secondary: #1c1f2b;
    --red: #dc1e2c;
    --blue: #30a2e4;
    --text: #1c1f2b;
    --pruhledna_seda: #00000070;
    --form: #DDF4FF;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

main > * {
    margin-top: 1.5em;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
      --primary: #1c1f2b;
      --text: #ffffff;
      --form: #1c1f2b;
    }
    .swiper-scrollbar-drag {
      background: var(--swiper-scrollbar-drag-bg-color, var(--swiper-navigation-color, var(--swiper-theme-color))) !important;
    }
}
