:root {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: var(--background);
  text-align: center;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, a, p {
  margin: 0;
}

li {
  list-style: none;
}

menu {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'icomoon';
  src:  url('/public/fonts/icomoon.eot?mjcdwm');
  src:  url('/public/fonts/icomoon.eot?mjcdwm#iefix') format('embedded-opentype'),
    url('/public/fonts/icomoon.ttf?mjcdwm') format('truetype'),
    url('/public/fonts/icomoon.woff?mjcdwm') format('woff'),
    url('/publicfonts/icomoon.svg?mjcdwm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon::before {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0;
  font-feature-settings: "liga";
  font-variant-ligatures: discretionary-ligatures;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  vertical-align: top;
}

.icon-new-window:before {
content: "\e903";
font-size: 4.2em;
}
.icon-shopping_bag:before {
content: "\e902";
font-size: 4.2em;
}
.icon-recycle:before {
content: "\e900";
font-size: 4.2em;
}
.icon-umbrella:before {
content: "\e904";
font-size: 4.2em;
}
.icon-home:before {
content: "\e901";
}
.icon-address-book:before {
content: "\e944";
}
.icon-location:before {
content: "\e947";
}
.icon-facebook2:before {
content: "\ea91";
}
.icon-instagram:before {
content: "\ea92";
}
.icon-twitter:before {
content: "\ea96";
}  