:root {
    color-scheme: light;
    --background: #ffffff;
    --primary: #003580;
    --red: #dc1e2c;
}

html {
    font-family: "Roboto", sans-serif;
}

body, menu {
    margin: 0;
    /*color: var(--background);*/
}

li {
    list-style: none;
}

a {
    color: inherit;
    display: block;
    text-decoration: none;   
}

div {
    margin-top: 1em;
}

/*    
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --background: #242424;
        --primary: #0094FF;
        --secondary: #001D60;
    }
}
*/